﻿@model WebApplication1.Controllers.OperarViewModel

<h2>El id del clientes es @Model.IdCliente</h2>
<script src="https://code.jquery.com/jquery-3.4.1.min.js">

</script>

@using (Html.BeginForm())
{
    <label>cuentas del cliente</label> @Html.DropDownListFor(m => m.Cuenta, null, "seleccione")<br />
    <label>tipo operacion</label> @Html.DropDownListFor(m => m.TipoOperacion, null, "seleccione")<br />

    <label>saldo</label>@Html.TextBoxFor(m => m.Saldo, null, new { disabled = true })<br />
    <label>valor transaccion</label>@Html.TextBoxFor(m => m.ValorTransaccion)

    <input type="submit" value="guardar" />

}

<script>
    $("#Cuenta").change(function () {
        $.ajax({
            url: '@Url.Action("saldocuenta","Index")',
            data: { id_cuenta: $(this).val() },
            success: function (a) {
                $("#Saldo").val(a);
            }
        });
    }
        );

    
</script>

